<div class="user-details">
    <h1>Projects</h1>
</div>


    <div class="user">
        <div class="tech">
            <a href="https://github.com/shsh99/Furniture_Mall_Project" target="_blank">
                <img src="/Untitled.png" alt="Eco Furniture 썸네일">
            </a>
            <h2>Eco Furniture</h2>
            <h4>가구 쇼핑몰 웹 앱 서비스. <a href="https://github.com/shsh99/Furniture_Mall_Project">GitHub에서 보기</a></h4>
            <p>사용자가 쉽게 가구를 검색하고 구매할 수 있는 플랫폼으로, 사용자 경험을 최우선으로 고려했습니다.</p>
        </div>
        
        <div class="tech">
            <a href="https://github.com/zzimccong" target="_blank">
                <img src="/logo.png" alt="Zzimccong Plan 썸네일">
            </a>
             <h2>Zzimccong Plan</h2>
            <h4>기업 예약 특화 맛집 예약 웹 앱 서비스. <a href="https://github.com/zzimccong">GitHub에서 보기</a></h4>
            <p>기업 고객을 위한 맞춤형 맛집 예약 서비스를 제공하여, 효율적인 예약 관리와 사용자 편의를 향상시켰습니다.</p>
        </div>
    </div>
